
html
  head
    title Hello, World!
    script(src='../webinc/js/example.js', inline, compress)
    link(rel='stylesheet', href='../webinc/css/style.css', inline, compress)

  body This is an example HTML file. With some text
